---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$header-font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Import partials from the `minima` theme.
@import "minima";

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.site-header,
.site-footer {
  font-family: $header-font-family;
}

.site-header {
  border-top: 5px solid #00D0FF;
}

.site-title {
  font-weight: 400;
}

blockquote {
  letter-spacing: 0px;
  font-style: normal;
  font-weight: 400;
  color: #555;

  > :last-child {
    margin-bottom: 0;
  }
}

.site-nav-simple {
  float: right;
  line-height: 56px;

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid $grey-color-light;
  margin: 1em 0;
}

.post-list > li {
  margin-bottom: 5rem;
}

.post-list h2 {
  margin: 0.75rem 0;
  line-height: 1.25;
}

.post-list .post-title {
  font-size: 1em;
}

.post-book-author {
  color: $grey-color;
  font-size: 0.7em;
}

.post-image {
  display: block;
  height: 15rem;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 0 1rem;
  border-radius: 0.15rem;
}

.page-cover {
  background-size: cover;
  height: 15rem;
}

.about-avatar {
  float: left;
  margin: 0 3rem 3rem 0;
  border-radius: 3px;
}
